h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.h3, h3 {
    font-size: 1.75rem;
}

.post-preview > .post-meta {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: #868e96;
}

a {
    color: cadetblue;
}
.bottom-comment {
    color: #acb4c2;
    font-size: 0.875rem;
}

.comment-date {
    float: left;
}

.comment-actions {
    float: right;
}

.comment-actions li {
display: inline;
cursor: pointer;
}

.comment-actions li.complain {
padding-right: 0.75rem;
border-right: 1px solid #e1e5eb;
}

.comment-actions li.reply {
padding-left: 0.75rem;
padding-right: 0.125rem;
}

.comment-actions li:hover {
color: #0095ff;
}
