<form [formGroup]="blogCreateForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
    <div class="container">
        <div style="padding-top: 2%">
            <input type="hidden" class="form-control" style="width:80%" 
                   maxlength="25" formControlName="BlogPostByUserID" />
            <input type="text" class="form-control" formControlName="BlogPostTitle" 
                   style="width:80%" maxlength="25" placeholder="Title" required />
        </div>
        <div style="padding-top: 2%;padding-bottom:2%">
            <textarea formControlName="BlogPostBody" class="form-control" 
                      rows="20" style="width:80%" id="post" placeholder="" value="" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o">Submit</i> </button>&nbsp;
    </div>
    </form>