<div class="comment-wrap">
    <div class="photo">
        <div class="avatar" style="background-image: url('../../images/user.jpg')"></div>
    </div>
    <div class="comment-block">
        <p class="comment-text">{{blogComment.Comment}}</p>
        <div class="bottom-comment">
            <div class="comment-date">{{blogComment.Date | date:'fullDate'}}</div>
            <ul class="comment-actions">
                <li class="complain">Delete</li>
            </ul>
        </div>
    </div>
</div>